body {
  font-family: 'Courier New', monospace;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.playlists {
  margin-bottom: 20px;
}

.playlist-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #005403;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.playlist-btn:hover {
  background-color: #00ff0d;
}

.retro-radio {
  background-color: #151515;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 255, 17, 0.2);
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.current-song {
  color: #00ff00;
  text-align: center !important;
  font-size: 18px;
  margin-bottom: 20px;
}

.song-list {
  margin: 10px 0;
  max-height: 150px;
  overflow-y: auto;
}

.song-item {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255)
}

.song-item:hover {
  background-color: #9c9a9a;
}

.controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.control-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px !important;
}

.control-btn:hover {
  background-color: #555;
}

#audioPlayer {
  width: 100%;
  margin-top: 20px;
}

#audioPlayer::-webkit-media-controls-panel {
  background-color: #2c2c2c;
  color: white;
  border-radius: 10px;
}

#audioPlayer::-webkit-media-controls-play-button,
#audioPlayer::-webkit-media-controls-pause-button,
#audioPlayer::-webkit-media-controls-seek-back-button,
#audioPlayer::-webkit-media-controls-seek-forward-button,
#audioPlayer::-webkit-media-controls-volume-slider {
  filter: invert(1);
}

#audioPlayer::-webkit-media-controls-current-time-display,
#audioPlayer::-webkit-media-controls-time-remaining-display,
#audioPlayer::-webkit-media-controls-volume-slider {
  color: white;
}
